[build-system]
# Minimum requirements for the build system to execute.
requires = [
  "setuptools",
  "wheel",
  "pyarrow>=22.0.0",
]

[tool.black]
target-version = ['py37', 'py311']
exclude = '''
(
  | \.egg
  | \.git
  | build
  | setup.py
)
'''
